Repository Mujtaba10022/azure-infra-devops-assignment: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

pipelines/azure-pipelines-app.yml:

trigger:
  branches: 
    include:
      - main
  paths: 
    include:
      - app/**
      - kubernetes/**

pool:
  vmImage: ubuntu-latest

variables:
  - name: IMAGE_NAME
    value: customer-service-portal
  - name: NAMESPACE
    value: staging
 
stages:
  - stage: Build
    jobs: 
      - job: Build
        steps:
          - task: Docker@2
            displayName: Build and Push
            inputs:
              containerRegistry: ACR-ServiceConnection
              repository: customer-service-portal
              command: buildAndPush
              Dockerfile: app/Dockerfile
              tags: latest

  - stage: Deploy
    dependsOn: Build
    jobs:
      - deployment: Deploy
        environment: aks-staging
        strategy:
          runOnce:
            deploy:
              steps:
                - task: KubernetesManifest@1
                  displayName:  Deploy to AKS
                  inputs:
                    action: deploy
                    connectionType: azureResourceManager
                    azureSubscriptionConnection: Azure-ServiceConnection
                    namespace: staging
                    manifests:  kubernetes/base/*.yaml

pipelines/azure-pipelines-infra.yml:

trigger:
  branches:
    include: 
      - main
  paths:
    include: 
      - terraform/**
 
pool:
  vmImage: ubuntu-latest

variables:
  - group: terraform-secrets
  - name: TF_VERSION
    value:  1.5.0
 
stages:
  - stage:  Validate
    jobs:
      - job: Validate
        steps:
          - task:  TerraformInstaller@1
            inputs:
              terraformVersion: 1.5.0
          - task: TerraformTaskV4@4
            displayName:  Terraform Init
            inputs:
              provider: azurerm
              command: init
              workingDirectory: terraform/environments/staging
              backendServiceArm: Azure-ServiceConnection
          - task: TerraformTaskV4@4
            displayName: Terraform Validate
            inputs:
              provider: azurerm
              command: validate
              workingDirectory: terraform/environments/staging
 
  - stage: Plan
    dependsOn: Validate
    jobs:
      - job:  Plan
        steps:
          - task: TerraformInstaller@1
            inputs: 
              terraformVersion: 1.5.0
          - task: TerraformTaskV4@4
            displayName: Terraform Plan
            inputs:
              provider: azurerm
              command: plan
              workingDirectory: terraform/environments/staging
              environmentServiceNameAzureRM: Azure-ServiceConnection
 
  - stage: Apply
    dependsOn: Plan
    jobs:
      - deployment: Apply
        environment: staging
        strategy:
          runOnce: 
            deploy:
              steps:
                - task: TerraformTaskV4@4
                  displayName: Terraform Apply
                  inputs:
                    provider: azurerm
                    command: apply
                    workingDirectory: terraform/environments/staging
                    environmentServiceNameAzureRM: Azure-ServiceConnection
                    commandOptions: -auto-approve

Complete all requirements - SQL module, Helm chart, environments, README
  README. md
  README.md
  helm/sql-agent/Chart.yaml
  helm/sql-agent/templates/deployment.yaml
  helm/sql-agent/templates/service.yaml
  helm/sql-agent/values.yaml
  terraform/environments/dev/main.tf
  terraform/environments/dev/variables.tf
  terraform/environments/prod/main.tf
  terraform/environments/prod/variables.tf
  terraform/environments/staging/main. tf
  terraform/environments/staging/providers. tf
  terraform/modules/keyvault/main.tf
  terraform/modules/network/main.tf
  terraform/modules/network/outputs.tf
  terraform/modules/network/variables.tf
  terraform/modules/networking/variables. tf
  terraform/modules/openai/main. tf
  terraform/modules/private-endpoints/main.tf
  terraform/modules/private-endpoints/outputs.tf
  terraform/modules/private-endpoints/variables.tf
  terraform/modules/sql/main.tf
  terraform/modules/sql/outputs.tf
  terraform/modules/sql/variables.tf
  terraform/modules/storage/variables. tf
Due: pipelines/azure-pipelines-infra.yml

Fix workflow to show SQL Agent service URL
  .github/workflows/terraform-infra.yml
Due: none

Remove webapp - SQL Agent Portal as per requirements
  .github/workflows/terraform-infra.yml
  k8s/webapp.yaml
Due: none

SQL Agent
  .github/workflows/terraform-infra.yml
Due: none

Azure DevOps Assessment with privatet endpoints
  README.md
  terraform/modules/private-endpoints/README.md
Due: pipelines/azure-pipelines-infra.yml

docs: Update README with accurate architecture based on actual Azure resources
  README.md
  app/Dockerfile
  app/main.py
  app/requirements.txt
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/variables.tf
  terraform/modules/network/outputs.tf
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

docs: Update README with accurate architecture based on actual Azure resources
  README.md
Due: none

docs: Update README - kubectl deployment method, remove ArgoCD references
  README.md
Due: none

docs: Add PowerShell 7 Administrator requirement to prerequisites
  README.md
Due: none

Update main.py with working AI SQL Agent configuration
  app/main.py
Due: pipelines/azure-pipelines-app.yml

AI SQL Agent
  README.md
  configmap.yaml
  secrets.yaml
Due: none

Update live demo URL in README.md
  README.md
Due: none

Update URLs in README.md for health checks
  README.md
Due: none

Fix demo URL in README.md
  README.md
Due: none

Add database schema to AI prompt - fixes table name errors
  app/main.py
  k8s/sql-agent.yaml
Due: pipelines/azure-pipelines-app.yml

Complete AI SQL Agent with Azure Infrastructure
  Dockerfile
  app/main.py
  k8s/sql-agent.yaml
  requirements.txt
  terraform/environments/staging/.terraform.lock.hcl
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/providers.tf
  terraform/environments/staging/tfplan
  terraform/environments/staging/variables.tf
  terraform/modules/aks/variables.tf
  terraform/modules/keyvault/main.tf
  terraform/modules/keyvault/variables.tf
  terraform/modules/network/main.tf
  terraform/modules/network/outputs.tf
  terraform/modules/network/variables.tf
  terraform/modules/sql/main.tf
  terraform/modules/sql/variables.tf
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

Add .gitignore and remove large terraform files
  . gitignore
Due: none

fix: Update SQL Agent config with correct endpoints and secure secrets via CI/CD
  .github/workflows/deploy-sql-agent.yml
  configmap.yaml
  k8s/sql-agent.yaml
  secrets.yaml
Due: none

docs: Comprehensive README with architecture diagram, deployment guide, and redeployment checklist
  README.md
Due: none

feat: Enhanced AI prompt for smart natural language queries with LIKE patterns
  app/main.py
Due: pipelines/azure-pipelines-app.yml

docs: Complete README with architecture and deployment guide
  README.md
Due: none

Update README.md
  README.md
Due: none

Updated README
  README.md
Due: none

Fix README
  README.md
Due: none

Updated
  . gitignore
Due: none

Fix formatting
  README.md
Due: none

Fix formatting issues in README.md
  README.md
Due: none

Modify deployment secrets in README
  README.md
Due: none

Refactor AKS deployment workflow in GitHub Actions
  .github/workflows/app-deploy.yml
Due: none

Refactor creation for deployment
  README.md
Due: none

Revise details
  README.md
Due: none

Deploy Successfully
  README.md
Due: none

Remove deprecated deploy-sql-agent workflow
  .github/workflows/deploy-sql-agent.yml
Due: none

Remove duplicate app-deploy workflow
  .github/workflows/app-deploy.yml
  README.md
Due: none

Revise info
  README.md
Due: none
