Repository Mujtaba10022/azure-infra-devops-assignment: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

pipelines/azure-pipelines-app.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - task: Docker@2
        displayName: Build and Push
        inputs:
          containerRegistry: ACR-ServiceConnection
          repository: customer-service-portal
          command: buildAndPush
  ...

pipelines/azure-pipelines-infra.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    jobs:
    - job: Validate
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: 1.5.0
      - task: TerraformTaskV4@4
        displayName: Terraform Init
        inputs:
          provider: azurerm
          command: init
  ...

Trigger CI/CD pipeline
  README.md
Due: none

Fix all Terraform modules with meaningful names for RG-GM_Assessment
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/providers.tf
  terraform/environments/staging/variables.tf
  terraform/modules/acr/main. tf
  terraform/modules/acr/outputs. tf
  terraform/modules/acr/variables.tf
  terraform/modules/aks/main. tf
  terraform/modules/aks/outputs. tf
  terraform/modules/aks/variables.tf
  terraform/modules/keyvault/main.tf
  terraform/modules/keyvault/outputs.tf
  terraform/modules/keyvault/variables.tf
  terraform/modules/networking/main.tf
  terraform/modules/networking/outputs.tf
  terraform/modules/networking/variables.tf
  terraform/modules/openai/main. tf
  terraform/modules/openai/outputs.tf
  terraform/modules/openai/variables.tf
  terraform/modules/sql-database/main.tf
  terraform/modules/sql-database/outputs.tf
  terraform/modules/sql-database/variables.tf
  terraform/modules/storage/main.tf
  terraform/modules/storage/outputs.tf
  terraform/modules/storage/variables.tf
Due: pipelines/azure-pipelines-infra.yml

Fix filenames - remove spaces before extensions
  terraform/modules/acr/main. tf
  terraform/modules/acr/main.tf
  terraform/modules/acr/outputs. tf
  terraform/modules/acr/outputs.tf
  terraform/modules/aks/main. tf
  terraform/modules/aks/main.tf
  terraform/modules/aks/outputs. tf
  terraform/modules/aks/outputs.tf
  terraform/modules/aks/variables. tf
  terraform/modules/aks/variables.tf
Due: pipelines/azure-pipelines-infra.yml

Fix openai main.tf filename
  terraform/modules/openai/main. tf
Due: pipelines/azure-pipelines-infra.yml

Fix aks/variables.tf syntax error
  terraform/modules/aks/variables.tf
Due: pipelines/azure-pipelines-infra.yml

Fix workflow - add SQL variables and ARM credentials
  .github/workflows/terraform-infra.yml
Due: none

Trigger workflow
  terraform/environments/staging/main.tf
Due: pipelines/azure-pipelines-infra.yml

Fix openai module - correct variable name
  terraform/modules/openai/main.tf
Due: pipelines/azure-pipelines-infra.yml

Fix Azure provider - skip provider registration
  terraform/environments/staging/providers.tf
Due: pipelines/azure-pipelines-infra.yml

Fix providers.tf version syntax
  terraform/environments/staging/providers.tf
Due: pipelines/azure-pipelines-infra.yml

Simplify workflow - remove apply step
  .github/workflows/terraform-infra.yml
Due: none

Trigger CI
  terraform/environments/staging/main.tf
Due: pipelines/azure-pipelines-infra.yml

Fix terraform wrapper issue
  .github/workflows/terraform-infra.yml
Due: none

Fix terraform plan exit code handling
  .github/workflows/terraform-infra.yml
Due: none

Fix AKS module - use attach_acr boolean
  terraform/modules/aks/main.tf
  terraform/modules/aks/variables.tf
Due: pipelines/azure-pipelines-infra.yml

Add terraform apply - deploy infrastructure
  .github/workflows/terraform-infra.yml
Due: none

Deploy infrastructure
  terraform/environments/staging/main. tf
Due: pipelines/azure-pipelines-infra.yml

Fix SQL region and simplify AKS module
  terraform/environments/staging/main. tf
  terraform/modules/aks/main.tf
Due: pipelines/azure-pipelines-infra.yml

Simplify terraform - resources already deployed
  .github/workflows/terraform-infra.yml
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/variables.tf
Due: pipelines/azure-pipelines-infra.yml

Add AKS cluster
  terraform/environments/staging/main.tf
Due: pipelines/azure-pipelines-infra.yml

Trigger AKS deployment
  terraform/environments/staging/main.tf
Due: pipelines/azure-pipelines-infra.yml

Fix syntax - remove spaces in terraform references
  terraform/environments/staging/main.tf
Due: pipelines/azure-pipelines-infra.yml

Trigger AKS deployment - provider registered
  terraform/environments/staging/main.tf
Due: pipelines/azure-pipelines-infra.yml

Fix AKS - update provider and simplify config
  terraform/environments/staging/main.tf
  terraform/environments/staging/providers.tf
Due: pipelines/azure-pipelines-infra.yml

Fix AKS - use provider 3.71.0
  terraform/environments/staging/main.tf
  terraform/environments/staging/providers. tf
Due: pipelines/azure-pipelines-infra.yml

Create AKS using Azure CLI instead of Terraform
  .github/workflows/terraform-infra.yml
  terraform/environments/staging/main.tf
Due: pipelines/azure-pipelines-infra.yml

Deploy webapp to AKS
  .github/workflows/terraform-infra.yml
  k8s/webapp. yaml
Due: none

Add webapp.yaml manifest
  k8s/webapp.yaml
Due: none

Add SQL Agent Customer Portal with database integration
  .github/workflows/deploy-sql-agent.yml
  app/Dockerfile
  app/main.py
  app/requirements.txt
  app/templates/index. html
  k8s/sql-agent. yaml
Due: pipelines/azure-pipelines-app.yml

Fix SQL Agent deployment files
  .github/workflows/deploy-sql-agent.yml
  app/templates/index.html
  k8s/sql-agent.yaml
Due: pipelines/azure-pipelines-app.yml

Fix app files - remove spaces in filenames
  app/Dockerfile
  app/main.py
  app/src/main.py
  app/templates/index. html
  app/templates/index.html
  k8s/sql-agent. yaml
  k8s/sql-agent.yaml
  kubernetes/base/configmap. yaml
  kubernetes/base/configmap.yaml
  kubernetes/base/deployment. yaml
  kubernetes/base/deployment.yaml
  kubernetes/base/service. yaml
  kubernetes/base/service.yaml
Due: pipelines/azure-pipelines-app.yml

Fix Dockerfile for Debian 12 with modern ODBC driver installation
  app/Dockerfile
Due: pipelines/azure-pipelines-app.yml

Fix Dockerfile - remove all spaces in paths
  app/Dockerfile
Due: pipelines/azure-pipelines-app.yml

Fix Dockerfile - single line RUN command
  app/Dockerfile
Due: pipelines/azure-pipelines-app.yml

Complete SQL Agent Portal - fully working
  app/Dockerfile
Due: pipelines/azure-pipelines-app.yml

Fix app-deploy workflow - remove spacing issues
  .github/workflows/app-deploy.yml
Due: none

Add SQL Agent Portal documentation - Live at http://172.171.132.109
  README. md
Due: none

Path conditions:
  pipelines/azure-pipelines-app.yml: any of: app, kubernetes
  pipelines/azure-pipelines-infra.yml: any of: terraform
